.root {
    padding-top: 100px;
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
}

.scene {
    cursor: grab;
    
    canvas:focus {
        outline: none;
    }
}

.shapeSvg {
    width: 550px;
    height: auto;
    position: absolute;
    right: 0;
    bottom: 0;
}

.socialNetworks {
    position: absolute;
    bottom: 0;
    left: 80px;
    bottom: 2rem;
    display: flex;
}

.socialNetworkLink {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    color: #c3c3c3;
    text-transform: uppercase;
    text-decoration: none;

    &:not(:first-child) {
        margin-left: 2rem;
    }
}